@use './media-queries' as media;

%card-shared {
  border-radius: 15px;
  background-color: var(--dark-blue);

  @include media.desktop {
    border-radius: 30px;
  }
}

.card {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 327px;

  @include media.desktop {
    max-width: 412px;
  }

  &__wrapper {
    @extend %card-shared;
    padding: 24px 24px 32px 24px;
    transform-origin: 95% 5%;
    transition: all 1s ease;

    @include media.desktop {
      padding: 32px 39px 32px 32px;
    }

    &.hidden {
      transform: scale(0);
      height: 0;
      overflow-y: hidden;
    }
  }

  &__icon-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--medium-grey);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include media.desktop {
      width: 48px;
      height: 48px;
    }
  }

  &__title {
    font-size: 24px;
    margin-top: 19px;
    color: var(--white);

    @include media.desktop {
      font-size: 28px;
      margin-top: 32px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.6;
    color: var(--light-grey);

    @include media.desktop {
      font-size: 15px;
      margin-top: 9px;
    }
  }

  &__icon {
    width: 14px;

    @include media.desktop {
      width: 18px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 27px;
  }

  &__form-group {
    position: relative;
    background-color: var(--medium-grey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--light-grey);
    transition: background-color,
      color 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);

    @include media.desktop {
      width: 51px;
      height: 51px;
    }

    &:hover {
      background-color: var(--light-grey);
      color: var(--white);
    }

    &.active {
      background-color: var(--orange);
      color: var(--white);
    }
  }

  &__form-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 50%;
    transform: translateY(2px);
    cursor: pointer;
    width: 100%;
    height: 100%;

    @include media.desktop {
      font-size: 17px;
    }
  }

  &__form-radio-input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__form-btn-text {
    display: inline-block;
    transform: translate(-1px, 3px);
  }

  &__form-btn {
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.5px;
    padding: 12.8px 10px;
    border-radius: 100px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    transition: background-color,
      color 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);

    @include media.desktop {
      margin-top: 22px;
    }

    &:hover {
      background-color: var(--white);
      color: var(--orange);
    }
  }
}

.rating-state {
  @extend %card-shared;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  padding: 28px 28px 39px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transform-origin: top right;
  transition: opacity, transform 1s ease;
  transform: scale(0);

  @include media.desktop {
    padding: 39px 30px 48px 30px;
  }

  &.active {
    z-index: 0;
    opacity: 1;
    transform: scale(1);
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 144px;
    padding-top: 6px;

    @include media.desktop {
      max-width: 162px;
      transform: translateX(-4px);
    }
  }

  &__selected {
    display: inline-block;
    font-size: 14px;
    background-color: var(--medium-grey);
    color: var(--orange);
    padding: 8px 13px;
    border-radius: 50px;
    margin: 24px 0 26px;

    @include media.desktop {
      font-size: 15px;
      margin: 33px 0 35px;
      padding: 7px 18px 5px;
    }
  }

  &__title {
    font-size: 23px;
    color: var(--white);
    margin-bottom: 12px;

    @include media.desktop {
      font-size: 27.5px;
      margin-bottom: 9px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.6;
    color: var(--light-grey);

    @include media.desktop {
      font-size: 15px;
      padding-right: 10px;
    }
  }
}
