:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(210, 7%, 53%);
  --medium-grey: hsl(210, 19%, 18%);
  --dark-blue: hsl(215, 22%, 15%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

$desktop-breakpoint: 1440px;
